
<script src="https://kit.fontawesome.com/5426e91a66.js" crossorigin="anonymous"></script>

<h1>welcome to <i class="fa-solid fa-book"></i>Bookers!!</h1>
<p>in <i class="fa-solid fa-book"></i><b>Bookers,</b></p>

<p>you can share and exechange your opinions, inpressions,and emotions</p>

<p>about various books!</p>


      <p>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-btn btn-info" %>
      </p>
     <p>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-btn btn-success" %>
      </p>

